<?php
/** @var Breeds $viewModel */
$viewModel = $block->getViewModel();
$dog = $viewModel->dog();

use Gamma\Dogs\ViewModel\Breeds; ?>

<div>
    <?php
    //print_r($dog->getNames());
    $dogs = $dog->getNames();

    echo '<ul>';
    foreach (array($dogs) as $key => $value) {
        foreach($value as $subkey => $subvalue ) {
            echo '<li>' . ucfirst($subkey) . '</li>';
            foreach($subvalue as $a => $b){
                echo '<p>' . 'Sub-breed: ' . $b . '</p>';
            }
        }
    }
    echo '</ul>';
    ?>

</div>
