/*
  Remember, to render any changes in these .less files, do:
  rm -r var/view_preprocessed pub/static/frontend/ pub/static/deployed_version.txt
 */

.woof {
  display: flex;
  min-height: 50vh;
  background-color: #765432;
  align-items: center;
  justify-content: center;

  woof {
    color: #f0f0f0;
    font-size: 15vw;
  }
}